.App {
  text-align: center;
}
/* common style */
.btn:focus {
  box-shadow: unset !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #2d4573;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}

/* common classes */
.bg-main-color {
  background-color: #4369b2;
}

.bg-green {
  background-color: #9cd84e;
}

.bg-yellow {
  background-color: #facf39;
}

.bg-orange {
  background-color: #f99049;
}

.bg-red {
  background-color: #f65e5f;
}

/* Home page */
.country-block {
  background-color: #5589e3;
}

.country-block img {
  max-width: 450px;
}

.selection-block select {
  width: 50% !important;
}

.cities-block ul li {
  cursor: pointer;
}

.cities-block ul li:hover {
  background-color: #3b5e9c !important;
}

.cities-block ul li:nth-child(odd) {
  background-color: #4369b0;
}

.cities-block ul li:nth-child(even) {
  background-color: #3d62a5;
}

@media only screen and (max-width: 768px) {
  .country-block img {
    max-width: 150px;
  }
}

/* City page */
.city-information > div > div{
  background-color: #4369b0;
}

.city-information table.overview-table thead,
.city-information table.overview-table tbody {
  background-color: #3d62a5;
}

.city-information table thead th,
.city-information table tbody td {
  padding: 10px 25px;
}

.city-information table tbody td {
  border-bottom: unset;
}

.weather-table img {
  width: 30px;
}

.weather-table thead tr {
  border-bottom: 1px solid white;
}

.weather-table thead th {
  border: unset !important;
}